# Arquivos de Log
*.log
logs/

# Arquivos temporários do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de crash da JVM (Java Virtual Machine)
hs_err_pid*

# Diretório de build do Maven
target/

# Arquivos de configuração de IDEs populares

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/



# NetBeans
nbproject/
build/
dist/

# Visual Studio Code (VS Code)
.vscode/



# Arquivos temporários ou de backup de editores
*~
*.swp
*.swo

